* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: #e5e7eb;
}

button {
  cursor: pointer;
}

